<!-- Modal -->
<div id="sshInfoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">SSH to <%= containerId %></h4>
      </div>
      <div class="modal-body">
        <p>Run the following command and run it in a shell terminal to connect to the container:</p>
        <pre><code>wget <%= keyPair.privateKeyDirectDownloadLink %> -O <%= keyPair.privateKeyFileName %> &&\</code></pre>
        <pre><code>chmod 600 <%= keyPair.privateKeyFileName %>  &&\</code></pre>
        <pre><code>ssh -i <%= keyPair.privateKeyFileName %> -p <%= sshPort %> root@<%= sshIp %>  &&\</code></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
