<table id="job-table" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Job Name</th>
      <th>User Name</th>
      <th>Start Time</th>
      <th>Duration</th>
      <th>Retries</th>
      <th>Status</th>
      <th>Stop</th>
    </tr>
  </thead>
  <tbody>
    <% for (let i = 0; i < jobs.length; i ++) { %>
      <tr>
        <td><a href="view.html?jobName=<%= jobs[i].name %>"><%= jobs[i].name %></a></td>
        <td><%= jobs[i].username %></td>
        <td>
          <span title="<%= Math.round(jobs[i].createdTime / 1000) %>"/>
          <%= convertTime(false, jobs[i].createdTime) %>
        </td>
        <td style='text-align:right'>
          <span title="<%= getDurationInSeconds(jobs[i].createdTime, jobs[i].completedTime) %>"/>
          <%= convertTime(true, jobs[i].createdTime, jobs[i].completedTime) %>
        </td>
        <td style='text-align:right'><%= jobs[i].retries %></td>
        <td><%= convertState(jobs[i].state) %></td>
        <td>
          <% if (jobs[i].executionType === "STOP" || jobs[i].subState === "FRAMEWORK_COMPLETED") { %>
            <button class="btn btn-default btn-sm" disabled>Stop</button>
          <% } else { %>
            <button class="btn btn-default btn-sm" onclick="stopJob('<%= jobs[i].name %>')">Stop</button>
          <% } %>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>