<div class="page-header">
  <h3 class="text-center"><%= jobStatus.name %></h3>
</div>

<table class="table table-hover">
  <tr>
    <th class="text-right">Username</th>
    <td class="text-left"><%= jobStatus.username %></td>
  </tr>
  <tr>
    <th class="text-right">JobStartTime</th>
    <td class="text-left"><%= convertTime(false, jobStatus.createdTime) %></td>
  </tr>
  <tr>
    <th class="text-right">ElapsedTime</th>
    <td class="text-left"><%= convertTime(true, jobStatus.createdTime, jobStatus.completedTime) %></td>
  </tr>
  <tr>
    <th class="text-right">Retries</th>
    <td class="text-left"><%= jobStatus.retries %></td>
  </tr>
  <tr>
    <th class="text-right">Status</th>
    <td class="text-left"><%= convertState(jobStatus.state, jobStatus.appExitType) %></td>
  </tr>
  <tr>
    <th class="text-right">TrackingUrl</th>
    <td class="text-left"><a href="<%= jobStatus.appTrackingUrl %>" target="_blank">Yarn Log</a></td>
  </tr>
  <tr>
    <th class="text-right">AppLaunchedTime</th>
    <td class="text-left"><%= convertTime(false, jobStatus.appLaunchedTime) %></td>
  </tr>
  <tr>
    <th class="text-right">AppCompletedTime</th>
    <td class="text-left"><%= convertTime(false, jobStatus.appCompletedTime) %></td>
  </tr>
  <tr>
    <th class="text-right">AppExitDiagnostics</th>
    <td class="text-left">
      <a data-toggle="collapse" href="#appExitDiagnostics" aria-expanded="false" aria-controls="appExitDiagnostics">
        Application Exit Diagnostics
      </a>
    </td>
  </tr>
</table>

<div class="collapse" id="appExitDiagnostics">
  <div class="well">
    <% if (jobStatus.appExitDiagnostics) { %>
      <%= jobStatus.appExitDiagnostics.replace(/\n/g, "<br>") %>
    <% } else { %>
      Application hasn't exited yet.
    <% } %>
  </div>
</div>

<hr class="divider">

<table class="table table-hover">
  <thead>
    <tr>
      <th>TaskRole</th>
      <th>TaskIndex</th>
      <th>ConatinerID</th>
      <th>ContainerIP</th>
      <th>ContainerGPU</th>
      <th>ContainerLog</th>
    </tr>
  </thead>
  <tbody>
    <% for (let taskRole of Object.keys(taskRoles)) { %>
      <% for (let i = 0; i < taskRoles[taskRole].taskStatuses.length; i ++) { %>
        <tr>
          <% if (i == 0) { %>
            <td rowspan="<%= taskRoles[taskRole].taskStatuses.length %>"><%= taskRole %></td>
          <% } %>
          <td><%= taskRoles[taskRole].taskStatuses[i].taskIndex %></td>
          <td><%= taskRoles[taskRole].taskStatuses[i].containerId %></td>
          <td><%= taskRoles[taskRole].taskStatuses[i].containerIp %></td>
          <td><%= convertGpu(taskRoles[taskRole].taskStatuses[i].containerGpus) %></td>
          <td><a href="<%= taskRoles[taskRole].taskStatuses[i].containerLog %>" target="_blank">Task Log</a></td>
        </tr>
      <% } %>
    <% } %>
  </tbody>
</table>