
<table class="table table-condensed">
  <tr style='background-color:whitesmoke'>
    <th>Job Name</th>
    <th>User Name</th>
    <th>Start Time</th>
    <th>Duration</th>
    <th>Retries</th>
    <th>Status</th>
  </tr>
  <tr>
    <td><%= jobName %></td>
    <td><%= jobStatus.username %></td>
    <td><%= convertTime(false, jobStatus.createdTime) %></td>
    <td><%= convertTime(true, jobStatus.createdTime, jobStatus.completedTime) %></td>
    <td><%= jobStatus.retries %></td>
    <td><%= convertState(jobStatus.state) %></td>
  </tr>
</table>

<hr class="divider">

<table class="table table-condensed">
  <tr>
    <th style="width:160px; background-color:whitesmoke">Monitoring Pages</th>
    <td>
      <a href="<%= jobStatus.appTrackingUrl %>" target="_blank">
        Application Tracking Page
      </a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="<%= grafanaUri %>/dashboard/db/joblevelmetrics?var_job=<%= jobName %>" target="_blank">
        Job Metrics Page
      </a>
    </td>
  </tr>
  <tr>
    <th style="width:160px; background-color:whitesmoke">Application Info</th>
    <td>
      Start Time: <%= convertTime(false, jobStatus.appLaunchedTime) %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      Finish Time: <%= convertTime(false, jobStatus.appCompletedTime) %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a data-toggle="collapse" href="#appExitDiagnostics" aria-expanded="false" aria-controls="appExitDiagnostics">
        Exit Diagnostics
      </a>
    </td>
  </tr>
</table>

<div class="collapse" id="appExitDiagnostics">
  <br>
  <div class="well">
    <% if (jobStatus.appExitDiagnostics) { %>
      <%= jobStatus.appExitDiagnostics.replace(/\n/g, "<br>") %>
    <% } else { %>
      Not available yet.
    <% } %>
  </div>
</div>
 
<hr class="divider">

<table class="table table-condensed">
  <thead>
    <tr style='background-color:whitesmoke'>
      <th>Task Role</th>
      <th>Task Index</th>
      <th>Name of Container</th>
      <th>IP of Container</th>
      <th>GPU List</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    <% for (let taskRole of Object.keys(taskRoles)) { %>
      <% for (let i = 0; i < taskRoles[taskRole].taskStatuses.length; i ++) { %>
        <tr>
          <% if (i == 0) { %>
            <td rowspan="<%= taskRoles[taskRole].taskStatuses.length %>"><%= taskRole %></td>
          <% } %>
          <td><%= taskRoles[taskRole].taskStatuses[i].taskIndex %></td>
          <td><%= taskRoles[taskRole].taskStatuses[i].containerId %></td>
          <td><%= taskRoles[taskRole].taskStatuses[i].containerIp %></td>
          <td><%= convertGpu(taskRoles[taskRole].taskStatuses[i].containerGpus) %></td>
          <td>
            <div name='sshInfoDiv-<%= taskRoles[taskRole].taskStatuses[i].containerId %>' style='float:left'>
              <a name='sshInfoLink-<%= taskRoles[taskRole].taskStatuses[i].containerId %>'
                onclick='showSshInfo("<%= taskRoles[taskRole].taskStatuses[i].containerId %>")'
                href='javascript:void(0);'>Show SSH Info</a>
            </div>
            <div style='float:left'>&nbsp;&nbsp;|&nbsp;&nbsp;</div>
            <div style='float:left'>
              <a href="<%= taskRoles[taskRole].taskStatuses[i].containerLog %>" target="_blank">Go to Tracking Page</a>
            </div>
          </td>
        </tr>
      <% } %>
    <% } %>
  </tbody>
</table>
