<div class="col-md-2 shadow sty-docker grid-item" >
    <img src="/assets/img/<%= type %>.png" alt="">
    <h5 id="<%= type %><%= id %>-name"><%= name %></h5>
    <p id="<%= type %><%= id %>-description"> <%= description %></p>
</div>
