<div class="tab-pane fade in active" id="<%= name %><%= type %><%= id %><%= contributor %><%= description %>">
  <div class="col-md-10 component-summary">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Search.." id="add-search">
      <span class="input-group-btn">
        <button class="btn btn-info" type="submit" id="btn-add-search"><i class="glyphicon glyphicon-search"></i></button>
      </span>
    </div>
    <button class="btn btn-info center-block" style="margin-top:20px;width:200px" id="btn-add-customize">Customize</button>
  </div>
</div>