<div class="tab-pane fade in active" id="<%= type %><%= id %>-summary">
  <div class="col-md-9 component-summary">
    <h2>
      <span id="<%= type %><%= id %>-name"><%= name %></span>
      <span class="glyphicon glyphicon-pencil" id="<%= type %><%= id %>-edit-button"></span>
    </h2>
    <div class="contributor" id="<%= type %><%= id %>-contributor"> <%= contributor %> </div>
    <div class="description" id="<%= type %><%= id %>-description"> <%= description %> </div>
  </div>
</div>
