<div class="col-md-3 shadow sty-task-content grid-item" style="overflow: hidden;">
    <!-- <img src="/assets/img/edit.png" alt=""> -->
    <button class="edit-task" data-toggle="modal">
        <span class="glyphicon glyphicon-pencil" id="<%= type %><%= id %>-edit-button"></span>
    </button>
    <h5><%= role %></h5>
    <p>Dockerimage: <%= dockerimage %></p>
    <p>Instances: <%= instances %> </p>
    <p class="task-resource">Resource: cpu:<%= cpu %>, memoryMB: <%= memoryMB %>, gpu: <%= gpu %></p>
    Command:
    <div class="task-command"><%= command %></div>
</div>
