<section class="content-header"><%= breadcrumb({ breadcrumbTitle: "Hardware Utilization" }) %></section>

<section class="content">
<div class="box">
  <div class="box-body">
    <table id="hardware-table" class="table table-bordered table-hover" style='vertical-align:middle'>
      <thead>
        <tr>
          <th>Machine Name</th>
          <th>IP Address</th>
          <th style='width:80px; text-align:center'>CPU</th>
          <th style='width:80px; text-align:center'>Memory</th>
          <th style='width:80px; text-align:center'>GPU</th>
          <th style='width:80px; text-align:center'>GPU Mem</th>
          <th style='width:80px; text-align:center'>Disk</th>
          <th style='width:80px; text-align:center'>Ethernet</th>
        </tr>
      </thead>
      <tbody>
        <%
          for (let i = 0; i < machineMetaData.data.result.length; i++) {
            const metric = machineMetaData.data.result[i].metric;
            const href = grafanaUri + "/dashboard/db/pai_nodeview?var-node=" + metric.instance;
            const machineName = metric.nodename;
            const ipAddress = metric.instance.split(":")[0];
            const idSuffix = ":" + metric.instance;
        %>
        <tr>
          <td><a href='<%= href %>' target='_blank'><%= machineName %></a></td>
          <td><%= ipAddress %></td>
          <td id='cpu<%= idSuffix %>' style='text-align:center'>
            <i class="fa fa-spinner fa-pulse fa-fw text-grey" title="0"></i>
          </td>
          <td id='mem<%= idSuffix %>' style='text-align:center'>
            <i class="fa fa-spinner fa-pulse fa-fw text-grey" title="0"></i>
          </td>
          <td id='gpu<%= idSuffix %>' style='text-align:center'>
            <i class="fa fa-circle" title="1" style="color:pink"></i>
          </td>
          <td id='gpumem<%= idSuffix %>' style='text-align:center'>
            <i class="fa fa-circle-thin text-grey" title="0"></i>
          </td>
          <td id='disk<%= idSuffix %>' style='text-align:center'>
            <i class="fa fa-spinner fa-pulse fa-fw text-grey" title="0"></i>
          </td>
          <td id='eth<%= idSuffix %>' style='text-align:center'>
            <i class="fa fa-spinner fa-pulse fa-fw text-grey" title="0"></i>
          </td>
        </tr>
        <%
          }
        %>
      </tbody>
    </table>
  </div>
</section>
