<!-- Modal -->
<div id="<%= type %><%= id %>-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit <%= type %></h4>
      </div>
      <div class="modal-body">
        <div id="<%= type %><%= id %>-json-editor-holder"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>