<!-- Job/Data/Script/Docker component-->
<div class="panel panel-default shadow" content-type="<%= type %>">
  <div class="panel-heading component-heading">
    <div class="panel-title">
      <ul class="nav nav-tabs" id="<%= type %>-title">
        <%= titleLayout({'name': name, 'type':type, 'id':id, 'active': 'active'}) %>
          <div class="pull-right">
            <div>
              <i class="glyphicon glyphicon-plus" id="panel-head-add-new-<%= type %>"></i>
              <!-- <i class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= type%>"></i> -->
            </div>
          </div>
      </ul>
    </div>
  </div>
  <div id="collapse-<%= type %>" class="panel-collapse collapse in">
    <div class="row component">
      <div class="col-md-2 component-image">
        <img src="/assets/img/<%= type %>.png" alt="model-logo" class="img-responsive"></img>
      </div>
      <div class="tab-content col-md-10" id="<%= type %>-summary">
          <%= summaryLayout({'name': name, 'type':type, 'id':id, 'contributor':contributor,  'description': description,'active': 'active'}) %>
      </div>
    </div>
  </div>
</div>