<div id="recommand-<%= type %>">
  <h2><%= type %></h2>
  <div id="recommand-<%= type %>-carousel" class="carousel slide" data-interval="false" data-ride="carousel" data-pause="true" data-wrap="false">
    <div id="recommand-<%= type %>-table" class="carousel-inner"></div>
    <a data-slide="prev" href="#recommand-<%= type %>-carousel" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a data-slide="next" href="#recommand-<%= type %>-carousel" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>