
<div class="tab-pane fade in <%= active %>" id="<%= type %><%= id %>-summary">
  <div class="col-md-9 component-summary">
    <h3>
      <span id="<%= type %><%= id %>-name"><%= name %></span>
    </h3>
    <div class="contributor" id="<%= type %><%= id %>-contributor"> <%= contributor %> </div>
    <div class="description" id="<%= type %><%= id %>-description"> <%= description %> </p></div>
  </div>

  <div class="col-md-3 collect-btn user-control-btn">
      <button type="button" class="btn btn-primary" id="<%= type %><%= id %>-quick-add-button">Clone</button><br>
      <button type="button" class="btn btn-primary" id="<%= type %><%= id %>-edit-button">Edit</button>
    </div>
</div>

