<div class="tab-pane fade in <%= active %>" id="<%= type %><%= id %>-summary">
  <div class="col-md-10 component-summary">
    <h3>
      <span id="<%= type %><%= id %>-name"><%= name %></span>
      <li class="glyphicon glyphicon-pencil user-edit" style="font-size: 18px;" data-type="<%= type %>" data-id="<%= id %>"></li>
    </h3>
    <div class="contributor" id="<%= type %><%= id %>-contributor"> <%= contributor %> </div>
    <div class="description" id="<%= type %><%= id %>-description"> <%= description %> </p></div>
  </div>
</div>