<li class="<%= active %>" id="<%= type %><%= id %>-title">
  <a href="#<%= type %><%= id %>-summary" data-toggle="tab">
    <span><%= name %></span>
    &nbsp;
    <!-- <span class="glyphicon glyphicon-remove "></span> -->
  </a>
  <div style="position: absolute; top: 0%; right: 0%; padding-right: 5px;font-size: 12px;">
    <i class="glyphicon glyphicon-remove" id="<%= type %><%= id %>-remove-button"></i>
  </div>
</li>