<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <section class="content" style="min-height: auto;">
        <div class="row">
          <div class="col-xs-9">
            <p class="lead">
              <a href="?index=<%= this.pluginIndex %>">Marketplace</a> / <span class="text-capitalize"><%= type %></span>
            </p>
          </div>
          <!--<div class="col-xs-3">
            <button type="button" class="btn btn-info btn-block" id="upload-button" data-toggle="modal" data-target="#upload-modal">Upload</button>
          </div>-->
          <div class="col-md-6">
            <form class="input-group input-group-sm pull-right">
              <input type="hidden" name="index" value="<%= this.pluginIndex %>">
              <input type="hidden" name="type" value="<%= type %>">
              <input type="search" class="form-control" name="query" value="<%= query %>" placeholder="Search <%= type %> on Platform for AI">
              <span class="input-group-btn">
                <button class="btn btn-info" type="submit" aria-label="Search">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>
            </form>
          </div>
        </div>
      </section>
      <section class="content">
        <div class="row">
          <div class="col-xs-6">
            <p class="lead text-muted">
              <span id="result-count"></span>
              Results
            </p>
          </div>
        </div>
        <div class="row" id="results"></div>
      </section>
    </div>
  </div>
</div>