<% for(var i = 0, l = items.length; i < l; i += 1) { var item = items[i] %>
<div class="content col-md-2 col-sm-4 col-xs-6" style="min-height: auto;">
  <a href="?index=<%= this.pluginIndex %>&type=<%= this.parseType(item.type) %>&name=<%= encodeURIComponent(item.name) %>"
    class="thumbnail" style="margin: 0">
    <img src="/assets/img/marketplace/<%= this.parseType(item.type) %>.jpg" width="50%">
    <div class="caption">
      <h3 class="h5 text-center single-line"><strong><%= item.name %></strong></h3>
      <p class="text-muted single-line">
        <span><%= item.contributor %></span>
      </p>
      <p class="single-line"><%= item.description %></p>
    </div>
  </a>
</div>
<% } %>