<div class="col-md-3 shadow sty-task-content grid-item" id="<%= type %><%= id %>-container">
    <!-- <img src="/assets/img/edit.png" alt=""> -->

    <div class="btn-group edit-task">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-option-horizontal"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a id="<%= type %><%= id %>-edit-button">
                    Edit
                </a>
            </li>
            <li>
                <a id="<%= type %><%= id %>-remove-button">
                    Delete
                </a>
            </li>
        </ul>
    </div>
    <h3 id="<%= type %><%= id %>-role"><%= role %></h3>
    <p><b>Dockerimage:</b> <span id="<%= type %><%= id %>-dockerimage"><%= dockerimage %></span></p>
    <p><b>Data:</b> <span id="<%= type %><%= id %>-data"><%= data %></span></p>
    <p><b>Script:</b> <span id="<%= type %><%= id %>-script"><%= script %></span></p>
    <p><b>Instances:</b> <span id="<%= type %><%= id %>-instances"><%= instances %></span></p>
    <p class="task-resource">
        <b>Resource:</b>
            cpu:<span id="<%= type %><%= id %>-cpu"><%= cpu %></span>, 
            memoryMB:<span id="<%= type %><%= id %>-memoryMB"> <%= memoryMB %></span>, 
            gpu: <span id="<%= type %><%= id %>-gpu"> <%= gpu %></span>
    </p>
    <p><b>Command:</b> 
       <span class="task-command" id="<%= type %><%= id %>-command"><%= command %>
    </p>
</div>
