<section class="content-header">
  <%= breadcrumb({
    breadcrumbTitle: "Template",
    pages: [
      {title: "Marketplace", path: "/template.html"},
      {title: "Template", path: "#"},
    ],
  }) %>
</section>

<div class="template-summary">
  <table>
    <tr>
      <td>
        <img class="logo" src="${require('../../../assets/img/favicon.ico')}" alt="">
      </td>
      <td>
        <div class="detail">
          <h2 id="txt-name"><%= detail.name %></h2>
          <ul class="star">
            <li class="pro_name" id="txt-contributor"><%= detail.contributor %></li>
            <li class="one">|</li>
            <li>12 uses</li>
            <li class="two">|</li>
            <li>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </li>
          </ul>
          <p id="txt-description"><%= detail.description %></p>
          <div class="detail_btn">
            <button type="button" id="btn-use" class="btn btn-success">Use</button>
            <button type="button" id="btn-run" class="btn btn-success">Run</button>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a href="#tab-ov" role="tab" data-toggle="tab">Overview</a>
  </li>
  <li role="presentation">
    <a href="#tab-qa" role="tab" data-toggle="tab">Q & A</a>
  </li>
  <li role="presentation">
    <a href="#tab-rr" role="tab" data-toggle="tab">Rating & Review</a>
  </li>
  <li role="presentation">
    <a href="#tab-ex" role="tab" data-toggle="tab">Experiment</a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="tab-ov">
    <%= overview({}) %>
  </div>
  <div role="tabpanel" class="tab-pane" id="tab-qa">
    <%= qa({}) %>
  </div>
  <div role="tabpanel" class="tab-pane" id="tab-rr">
    <%= review({}) %>
  </div>
  <div role="tabpanel" class="tab-pane" id="tab-ex">
    <%= experiment({}) %>
  </div>
</div>
