<table id="service-datatable" class="table table-bordered table-hover" style="vertical-align:middle">
  <thead>
    <tr>
      <th>Node Name</th>
      <th>PAI Roles</th>
      <th>Services</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < data.length; i ++) { %>
      <% let node = data[i].node.metadata; %>
      <tr>
        <td><a href="hardware/detail.html?instance=<%= node.name + ':' + exporterPort %>"> <%= node.name %></a></td>
        <td>   
          <% for(let k in data[i].node.metadata.labels) { %>
            <% if (k.indexOf('kubernetes') == -1) { %>
              <% let str = k; %>
              <% if (node.labels[k] != 'true')  str += ': ' + node.labels[k]; %>
              <span class="label label-primary" style="font-weight: 500"> <%= str %> </span>
            <% } %>
          <% } %>
        </td>
        <td class="service-td">
          <% for(let j = 0; j < data[i].podList.length; j++) { %>
            <% let pod = data[i].podList[j].metadata; %>                 
            <% if(data[i].podList[j].status.phase == "Running") { %>
              <a class="btn btn-success" href="<%= k8sUri + '/#!/log/' + pod.namespace + '/' + pod.name + '/?namespace=' + pod.namespace  %>"> 
              <%= pod.name %> </a>  
            <% } else{ %>
              <a class="btn btn-danger" href="<%= k8sUri + '/#!/log/' + pod.namespace + '/' + pod.name + '/?namespace=' + pod.namespace  %>"> <%= pod.name %> </a>
            <% } %>      
          <% } %>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>