<table id="service-datatable" class="table table-bordered table-hover" style="vertical-align:middle">
  <thead>
    <tr>
      <th>Node Name</th>
      <th>PAI Roles</th>
      <th>Services</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < data.length; i ++) { %>
      <% let node = data[i].node.metadata; %>
      <tr>
        <td><a href="hardware/detail.html?instance=<%= node.name + ':' + exporterPort %>"> <%= node.name %></a></td>
        <td>   
          <% for(let k in data[i].node.metadata.labels) { %>
            <% if (k.indexOf('kubernetes') == -1) { %>
              <% let str = k; %>
              <% if (node.labels[k] != 'true')  str += ': ' + node.labels[k]; %>
              <span class="label label-primary" style="font-weight: 500"> <%= str %> </span>
            <% } %>
          <% } %>
        </td>
        
        <!--
        Show pods and status in the 'Services' column.
        
        Design principles:
          - Green means that the service is running without warning.
          - Yellow means that the service is running with warnings.
          - Red means that the pod cannot provide the desired service.
          - Blue means that the pod has successfully finished its job and terminated.
          - Rotating icon means the pod is trying to recover from an abnormal state.

        Design:
          - Green box: Pod is in 'Running' phase and is ready.
          - Yellow box (not implemented yet): Pod is in 'Running' phase and is ready, but has some warnings in the log.
          - Blue box: Pod is in 'Succeeded' phase.
          - Red box with rotating icon: Pod is either in 'Running' phase but is not ready, or in 'Pending' phase.
          - Red box: Pod is in some other phase (Failed or Unknown).
        
        Ref: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/
        -->
        <td class="service-td">
          <%
          for (let j = 0; j < data[i].podList.length; j++) {
            let pod = data[i].podList[j].metadata;
            //
            let btnClassString = "btn btn-default";
            let loading = false;
            let urlString = k8sUri + '/#!/log/' + pod.namespace + '/' + pod.name + '/?namespace=' + pod.namespace;
            // 
            let status = data[i].podList[j].status;
            if (status.phase == "Pending") {
              btnClassString = "btn bg-red";
              loading = true;
            } else if (status.phase == "Running") {
              btnClassString = "btn bg-red";
              loading = true;
              for (let jj = 0; jj < status.conditions.length; jj++) {
                let cond = status.conditions[jj];
                if (cond.type == "Ready") {
                  if (cond.status == "True") {
                    let warning = false;
                    // TODO: Insert code to detect warnings.
                    if (warning == true) {
                      btnClassString = "btn bg-yellow";
                    } else {
                      btnClassString = "btn bg-green";
                    }
                    loading = false;
                  }
                  break;
                }
              }
            } else if (status.phase == "Succeeded") {
              btnClassString = "btn bg-blue";
              loading = false;
            } else {
              btnClassString = "btn bg-red";
              loading = false;
            }
            //
            %>
            <a class="<%= btnClassString %>" href="<%= urlString %>">
              <%
              if (loading == true) {
              %>
                <i class='fa fa-spinner fa-pulse fa-fw metric-icon-loading'></i>
              <%
              }
              %>
              <%= pod.name %>
            </a>  
          <%
          }
          %>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>