<div class="table-container">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Node Name</th>
      <th>PAI Roles</th>
      <th>Services</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < data.length; i ++) { %>
      <% let node = data[i].node.metadata; %>
      <tr>
        <td><a href="<%= grafanaUri + '/dashboard/db/pai_nodeview?var-node=' + node.name + ':' + exportPort %>"> <%= node.name %></a></td>
        <td>
         
          <% for(let k in data[i].node.metadata.labels) { %>
            <span class="label label-primary" style="font-weight: 500"> <%= k + ': ' + data[i].node.metadata.labels[k] %> </span>
          <% } %>
        </td>
        <td class="service-td">
          <% for(let j = 0; j < data[i].podList.length; j++) { %>
            <% let pod = data[i].podList[j].metadata; %>                 
            <% if(data[i].podList[j].status.phase == "Running") { %>
              <a class="btn btn-success" href="<%= k8sUri + '/#!/log/' + pod.namespace + '/' + pod.name + '/?namespace=' + pod.namespace  %>"> 
              <%= data[i].podList[j].metadata.name %> </a>  
            <% } else{ %>
              <a class="btn btn-danger" href="<%= k8sUri + '/#!/log/' + pod.namespace + '/' + pod.name + '/?namespace=' + pod.namespace  %>"> <%= data[i].podList[j].metadata.name %> </a>
            <% } %>      
          <% } %>
        </td>
      </tr> 
    <% } %>
  </tbody>
</table>
</div>