<div class="recommand-container" id="rc-<%= type %>">
  <div id="<%= type %>-carousel" class="carousel slide" data-interval="false" data-ride="carousel" data-pause="true" data-wrap="false">
    <div id="<%= type %>-table" class="carousel-inner">
    <% for (let i = 0; i < data.length; i ++) { %>
      <% if (i % limit == 0) { %>
        <% if (i == 0) { %>
        <div class="item active">
          <div class="row">
        <% } else { %>
          </div>
        </div>
        <div class="item">
          <div class="row">
        <% } %>
      <% } %>
      <a class="cardhref" id="<%= data[i].type %>-<%= data[i].name %>-<%= data[i].version %>" href="/detail.html?type=<%= data[i].type %>&name=<%= data[i].name %>&version=<%= data[i].version %>">
        <div class="card"> 
          <div class="img-container">
            <img src="<%= data[i].avatar %>" height="100%">
          </div>
          <div class="text-container">
            <span class="item-title"><%= data[i].name %></span>
            <span class="item-contributor"><%= data[i].contributor %></span>
            <span class="item-dsp"><%= data[i].description %></span>
            <!--
            <div class="star-rating">
            <% for (let j = 0; j < data[i].star; j ++) { %>
              <span class="glyphicon glyphicon-star span-left" aria-hidden="true"></span>
            <% } %>
            <% for (let j = data[i].star; j < 5; j ++) { %>
              <span class="glyphicon glyphicon-star-empty span-left" aria-hidden="true"></span>
            <% } %>
              <span class="glyphicon glyphicon-download-alt span-right" aria-hidden="true">
                <%= data[i].downloads %>
              </span>
            </div>
            --> 
          </div> 
        </div>
      </a>        
    <% } %>
    <% if (data.length != 0) { %>
        </div>
      </div>
    <% } %>
    </div>
    <a data-slide="prev" href="#<%= type %>-carousel" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a data-slide="next" href="#<%= type %>-carousel" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
  