<div class="tab-pane fade in <%= active %>" id="<%= type %><%= id %>">
  <div class="col-md-10 component-summary">
    <h3>
      <%= name %>
    </h3>
    <div class="contributor"> <%= contributor %> </div>
    <div class="description"> This is a <%= type %>. </p></div>
  </div>
</div>