<!-- Modal -->
<div id="addModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="btn-close-add-modal" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add a new <%= type %></h4>
        </div>
        <div class="modal-body">
          <div id="itemPlaceHolder">
            <div class="panel panel-default shadow">
              <div class="panel-heading"></div>
              <div id="collapse-<%= type %>" class="panel-collapse collapse in">
                <div class="row component">
                  <div class="col-md-2 component-image">
                    <img src="/assets/img/<%= type %>.png" alt="model-logo" class="img-responsive"></img>
                  </div>
                  <div class="col-md-10" id="<%= type %><%= id %>-json-editor-holder"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-group col-md-10 col-md-offset-1">
            <input class="form-control" type="text" placeholder="Search.." id="add-search">
            <span class="input-group-btn">
              <button class="btn btn-info" type="submit" id="btn-add-search"><i class="glyphicon glyphicon-search"></i></button>
            </span>
          </div>
          <div id="recommandPlaceHolder" style="height:250px"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="<%= type %><%= id %>-edit-save-button">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
