<!-- customize or edit-->
<div id="<%= type %><%= id %>-modal" class="modal fade json-editor-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="<%= type %><%= id %>-close-button">&times;</button>
        <h4 class="modal-title">Edit <%= type %> <% if(type == 'task') {%> role <%} %></h4>
      </div>
      <div class="modal-body">
        <div id="<%= type %><%= id %>-json-editor-holder"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary edit-save" id="<%= type %><%= id %>-edit-save-button">Save</button>
      </div>
    </div>
  </div>
</div>
