<div class="col-md-3 shadow sty-task-content grid-item" style="overflow: hidden;" id="<%= type %><%= id %>-container">
    <!-- <img src="/assets/img/edit.png" alt=""> -->

    <div class="btn-group edit-task">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-option-horizontal"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a id="<%= type %><%= id %>-edit-button">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </li>
            <li>
                <a id="<%= type %><%= id %>-remove-button">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </li>
        </ul>
    </div>
    <h5><%= role %></h5>
    <p>Dockerimage: <%= dockerimage %></p>
    <p>Instances: <%= instances %> </p>
    <p class="task-resource">Resource: cpu:<%= cpu %>, memoryMB: <%= memoryMB %>, gpu: <%= gpu %></p>
    Command:
    <div class="task-command"><%= command %></div>
</div>
